:root {
    --base-color:#323232; 
    --interative-color:#c58102; 
    --interative-color-lighted:#ffa500; 
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
  }

  
  