@import './global.css';


body { 
    background-color: #232323;
    font-family: var(--font-family); 
}

.app{
    color:whitesmoke;
}

h4 {
    line-height: 0.5;
}

a {
    text-decoration: none; 
    font-weight: bold;
}

a:link {
    color: #3498db;
}

a:visited {
    color: #8e44ad;
}
 
/* provisional */
 p {
    display: flex;
    margin-block-start: 3px;
    margin-block-end: 3px;
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
  }  